body {
  background-color: #fff;
  font-family: sans-serif;
}

.environment {
  display: flex;
} 

details {
  margin-top: 0.5rem;
  position: relative;
  width: 600px;
}

#copyCode {
  position: absolute;
  right: 0;
  top: 0;
}