html,
body {
  display: flex;
  width: 1280px; 
  height: 600px;
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}
#blocklyDiv {
  margin-right: 1rem;
}
#hydraCanvas {
  width: 600px;
  height: 600px;
}